src/main/resources/srsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.iaas.uni-stuttgart.de/srsService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srsService"
	targetNamespace="http://www.iaas.uni-stuttgart.de/srsService/"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">

	<vprop:property name="SrsServiceNotifyCorrelationProperty"
		type="xsd:string" />

	<vprop:propertyAlias messageType="tns:NotifySituationRequest"
		part="parameters" propertyName="tns:SrsServiceNotifyCorrelationProperty">
		<vprop:query><![CDATA[//*[local-name()='Correlation']]]></vprop:query>
	</vprop:propertyAlias>

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.iaas.uni-stuttgart.de/srsService/">
			<!-- schema elements for a get interaction -->
			<xsd:element name="GetRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Situation" type="xsd:string" />
						<xsd:element name="Object" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="GetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SituationMap" type="tns:ParamsMapItemType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ParamsMapItemType">
				<xsd:sequence>
					<xsd:element name="key" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- schema elements for a subscribe interaction -->

			<xsd:element name="SubscribeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Situation" type="xsd:string" />
						<xsd:element name="Object" type="xsd:string" />
						<xsd:element name="Correlation" type="xsd:string" />
						<xsd:element name="Endpoint" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="NotifyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Situation" type="xsd:string" />
						<xsd:element name="Object" type="xsd:string" />
						<xsd:element name="Correlation" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetSituationRequest">
		<wsdl:part element="tns:GetRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetSituationResponse">
		<wsdl:part element="tns:GetResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="SubscribeSituationRequest">
		<wsdl:part element="tns:SubscribeRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="NotifySituationRequest">
		<wsdl:part element="tns:NotifyRequest" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="srsService">
		<wsdl:operation name="Get">
			<wsdl:input message="tns:GetSituationRequest" />
			<wsdl:output message="tns:GetSituationResponse" />
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<wsdl:input message="tns:SubscribeSituationRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="srsServiceNotifciation">
		<wsdl:operation name="Notify">
			<wsdl:input message="tns:NotifySituationRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="srsServiceSOAP" type="tns:srsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Get">
			<soap:operation soapAction="http://www.iaas.uni-stuttgart.de/srsService/Get" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<soap:operation
				soapAction="http://www.iaas.uni-stuttgart.de/srsService/Subscribe" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="srsCallbackServiceSOAP" type="tns:srsServiceNotifciation">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Notify">
			<soap:operation
				soapAction="http://www.iaas.uni-stuttgart.de/srsCallbackService/Notify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="srsService">
		<wsdl:port binding="tns:srsServiceSOAP" name="srsServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
		<wsdl:port name="srsCallbackServiceSOAP" binding="tns:srsCallbackServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
